.name{
    color: blueviolet;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 60px;
    padding-left: 10px;
}
.border{
    border: 2px solid brown;
    padding: 10px;
    background-color:white;
    margin: 12px 12px 38px 43px;
    font-size: 15px;
}
body{
    padding: 20px ;
    background-color:azure;
    
}
.img{
    border-radius: 50%;
}
.para{
    text-align: justify;
    /* color: brown; */
}
h2{
    color: blueviolet;
}
/* h3{
    color: violet;
}
h4{
    color:palevioletred;
}
h6{
    color: darkslategrey; */
/* } */
.home{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 70px;
    color:blueviolet;
    font-weight: bold;
    font-family: fantasy;
    
}

.list{
    /* font-size: 21px; */
    margin: revert;
    line-height: inherit;
    /* font-style: italic; */
    text-align: justify;
    /* font-weight: 50; */
}

